{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>{{ assignment.assignment_name }} | Type: {{ assignment.assignment_type }}</h2>
        {% if grade != None %}
        <h1>Grade: {{ grade.grade }}/{{ assignment.points }}</h1>
        {% else %}
        <h1>Not yet graded, worth {{ assignment.points }} points</h1>
        {% endif %}
        <h3>Description: {{ assignment.description }}</h3>
    </div>
</div>
<!-- Registration Form: -->
<div class="row">
    <div class="col">
        <ul>
        {% for m in messages %}
        <li>{{ "Unread" if m.unread else ""}} From: {{ m.sender.fullname }} at {{ m.timestamp }} <br>
            &emsp;<a href={{ url_for('main.message_page', class_id=class_id, m_id=m.id) }}>{{ m.message_title }}</a>
        {% endfor %}
        </ul>

    </div>
</div>

{% endblock %}
