{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Find an open class</h2>
    </div>
</div>
<!-- Registration Form: -->
<div class="row">
    <div class="col">
        <ul>
        {% for cls, open_seats in open_classes %}
        <li>{{ cls.class_id }}-{{ cls.classname }} (Open Seats:{{ open_seats }})<br>
        {% if cls.description != "" or cls.description != None %}
        &emsp;Description: {{ cls.description}}<br>&emsp;

        {% endif %}
        &emsp;<a href={{ url_for('student.enroll', class_id=cls.class_id) }}>Enroll now!</a>
        </li>
        {% endfor %}
        </ul>

    </div>
</div>

{% endblock %}
