{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Class Creator</h2>
    </div>
</div>
<!-- Registration Form: -->
<div class="row">
    <div class="col">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.class_id.label }}
                {{ form.class_id(class="form-control") }}

                {{ form.class_name.label }}
                {{ form.class_name(class="form-control") }}

                {{ form.class_size.label }}
                {{ form.class_size(class="form-control") }}

                {{ form.description.label }}
                {{ form.description(class="form-control") }}

                {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ form.submit() }}
        </form>

    </div>
</div>

{% endblock %}
