{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Submit/Modify Grades: {{ class_id }}</h2>
    </div>
</div>
<!-- Grading Form: -->
<div class="row">
    <div class="col">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.assignment.label }}
                {{ form.assignment(class="form-control") }}

                {{ form.student.label }}
                {{ form.student(class="form-control") }}

                {{ form.grade.label }}
                {{ form.grade(class="form-control") }}

                {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.errors %}
                    <span>{{ error }}<br></span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ form.submit() }}
        </form>

    </div>
</div>
<div class="row">
    <h3><a href={{ url_for('teacher.students', class_id=class_id) }}>View student assignment grades</a></h3>
</div>

{% endblock %}
