{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Log In</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Add link to redirect users to Registration page if they don't have an account #}
        <h2>Need an account? <a href="{{ url_for('main.login') }}">Sign up here</a></h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Optionally show flashed messages if/when you need them,
            if an authentication or other similar error occurs #}
        {# Login form rendered here with Bootstrap classes #}
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}

                {{ form.email.label }}
                {{ form.email(class="form-control") }}

                {{ form.password.label }}
                {{ form.password(class="form-control") }}

                {% if form.username.errors or form.email.errors
                    or form.password.errors %}
                <div class="alert alert-warning" role="alert">
                    {# Don't give errors for password or username #}
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ form.submit() }}
        </form>
    </div>
</div>
{% endblock %}
