{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Registration</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Ask the user to login if they already have an account #}
        <h2>Already have an account?<a href="{{ url_for('login') }}">Login here</a></h2>
        <h2>Student looking to enter a class? <a href="{{ url_for('student.login') }}">Sign up here.</a></h2>
        <h2>Teacher needing to manage their classroom? <a href="{{ url_for('teacher.login') }}">Sign up here.</a></h2>
    </div>
</div>
<!-- Registration Form: -->

{% endblock %}
