{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Greeting #}
        <h2>Welcome to your {{ current_user.user_type }} account page {{ current_user.username }}!</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Username Update username_form #}
        <h2>Enrolled Classes</h2>
        {% for cls in enrolled_classes %}
        <h3><a href={{ url_for('main.course_page', class_id=cls.class_id) }}>{{ cls.class_id }}</a></h3>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Register for a new open class <a href={{ url_for('student.class_join') }}>here.</a></h2>
    </div>
</div>
{% endblock %}
