{% extends "header.html" %}
{% block content %}

<div class="row">
    <h2>{{ class_id }}</h2>
</div>
<div class="row">
    <div class="col">
        <h2>Welcome to Easel - the online classroom manager. Sign in as a student or teacher to the above! View registered classes to the right!</h2>
    </div>
    <div class="col">
        <h2>Classes open right now:</h2><br>
        <ul>
        {% for cls in open_classes %}
        <li>{{ cls.class_id }}-{{ cls.classname }}<br>
        {% endfor %}
        </ul>
        <h3>Join or create a class now!</h3>
    </div>
</div>
{% endblock %}
