{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Greeting #}
        <h2>Welcome to your {{ current_user.user_type }} account page {{ current_user.username }}!</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Username Update username_form #}
        <h2>Classes</h2>
        {% for cls in taught_classes %}
            <h3>{{ cls.class_id }}</h3>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Register a new class <a href={{ url_for('teacher.class_creator') }}>here.</a></h2>
    </div>
</div>
{% endblock %}
