{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Display any error messages #}
        {% if error %}
        <h2>Error: {{ error }}</h2>
        {% endif %}
    </div>
</div>
{% if not error %}
<div class="row">
    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        {# this is wrong #}
        <h2>{{ username }}'s Reviews ({{ total_reviews }} Total)</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Show all reviews made by the user #}
        {% for review in reviews %}
        <h2><a href="{{ url_for('movie_detail', movie_id=review.imdb_id) }}"> {{ review.movie_title }}</a> | {{ review.date }} | {{ review.content }}</h2>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}